<p id="notice"><%= notice %></p>

<h1>Greens</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sow period</th>
      <th>Grow period</th>
      <th>Harvest period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greens.each do |green| %>
      <tr>
        <td><%= green.name %></td>
        <td><%= green.description %></td>
        <td><%= green.sow_period %></td>
        <td><%= green.grow_period %></td>
        <td><%= green.harvest_period %></td>
        <td>
          <%= link_to green_path(green) do %>
            <%= inline_svg_tag 'bootstrap-icons/icons/eye.svg', class: 'text-info icon', aria: true, title: 'Details' %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_green_path(green) do %>
            <%= inline_svg_tag 'bootstrap-icons/icons/pencil.svg', class: 'text-secondary icon', aria: true, title: 'Edit' %>
          <% end %>
        </td>
        <td>
          <%= link_to green, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= inline_svg_tag 'bootstrap-icons/icons/trash.svg', class: 'text-danger icon', aria: true, title: 'Delete' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Green', new_green_path %>
