<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title"><%= @green.name %></h3>
    <p class="card-text"><%= @green.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h6 class="card-subtitle mb-2 text-muted">Sow period</h6>
      <div class="text-monospace green__months">
        <%= period_to_string @green.sow_period %>
      </div>
    </li>
    <li class="list-group-item">
      <h6 class="card-subtitle mb-2 text-muted">Grow period</h6>
      <div class="text-monospace green__months">
        <%= period_to_string @green.grow_period %>
      </div>
    </li>
    <li class="list-group-item">
      <h6 class="card-subtitle mb-2 text-muted">Harvest period</h6>
      <div class="text-monospace green__months">
        <%= period_to_string @green.harvest_period %>
      </div>
    </li>

    <li class="list-group-item">
      <h6 class="card-subtitle mb-2 text-muted">Good companions</h6>
      <div class="text-monospace green__months">
        <% @green.good_companions.each do | good | %>
          <%= good.name %>
        <% end %>
      </div>
    </li>

    <li class="list-group-item">
      <h6 class="card-subtitle mb-2 text-muted">Bad companions</h6>
      <div class="text-monospace green__months">
        <% @green.bad_companions.each do | bad | %>
          <%= bad.name %>
        <% end %>
      </div>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to 'Edit', edit_green_path(@green), class: 'card-link' %>
    <%= link_to 'Back', greens_path, class: 'card-link' %>
  </div>
</div>
